html {
    background: linear-gradient(225deg, #2d1f28, #2b1f30);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 0;
}
body {
    font-family: Tahoma;
    text-align: center;
}

.container {
    background: linear-gradient(#1f1628, #2c1f28), 
                linear-gradient(to right, #800000, #400040);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; /* this is important */
    border: 5px solid transparent;
    display: inline-block;
    margin: 10vh 0 0 0;
}

main {
    display: inline-block;
    color: lightgrey;
    /* background-color: #1f1f28; */
    /* background: url("img/shinobu1.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 300;
}

h1{
    font-size: 36px;
    line-height: 10px;
}

.quote {
    font-size: 14px;
    line-height: 16px;
}

.content {
    min-width: 700px;
    width: 500px;
    text-align: center;
    float: right;
    padding-left: 150px;
    height: 300px;
    position: relative;
}

.buttonList {
    padding-top: 60px;
    position: absolute;
    bottom: 50px;
}

.buttonUl {
    display: inline-block;
    padding: 0;
    margin: 5px 0 5px 0;
}

.buttonLi {
    display: inline-block;
    font-size: 18px;
    background-color: blue;
    width: 135px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    border-width: 1px;
    border-style: solid;
}

/* .mascot { */
/*     float: left; */
/*     height: 300px; */
/*     width: 100px; */
/*     background-image: url("img/shinobu1.png"); */
/*     background-size: cover; */
/*     background-repeat: no-repeat; */
/* } */
